.cell {
    border: 1px solid black;
}

#container {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    height: 600px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    background: white;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
    background-image: url("background.jpg");
    background-size: 2000px;
}

.button {
    display: inline-block;
    padding: 5px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, red 0%, orange 51%,
    maroon 100%);
    
}

.button:hover {
    background-position: right center;
}

#buttons {
    text-align: center;
    position: relative;
    top: 95px;
    
}